<!--<div class="col-sm p-3 min-vh-100">-->
    <div class="container-fluid" style="background-color:#234e70;">
        <div class="row pt-5">
            <div class="col">
                <h1 class="display-1 fs-bold lh-lg text-light">Educacion y cursos</h1>

                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card mb-5" style="background-color: #B3A389;">
                            <div class="card-body text-light">
                                <div class="row">
                                    <div class="col-md-2">
                                      <img src="/assets/img/img1.png" alt="Logo" class="img-fluid">
                                    </div>
                                    <div class="col-md-10">
                                      <h6 class="card-subtitle text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, vitae?</h6>
                                    </div>
                                </div>                            
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card mb-5" style="background-color: #B3A389;">
                            <div class="card-body text-light">
                                <div class="row">
                                    <div class="col-md-2">
                                      <img src="/assets/img/img1.png" alt="Logo" class="img-fluid">
                                    </div>
                                    <div class="col-md-10">
                                      <h6 class="card-subtitle text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, vitae?</h6>
                                    </div>
                                </div>                            
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card mb-5" style="background-color: #B3A389;">
                            <div class="card-body text-light">
                                <div class="row">
                                    <div class="col-md-2">
                                      <img src="/assets/img/img1.png" alt="Logo" class="img-fluid">
                                    </div>
                                    <div class="col-md-10">
                                      <h6 class="card-subtitle text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, vitae?</h6>
                                    </div>
                                </div>                            
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card mb-5" style="background-color: #B3A389;">
                            <div class="card-body text-light">
                                <div class="row">
                                    <div class="col-md-2">
                                      <img src="/assets/img/img1.png" alt="Logo" class="img-fluid">
                                    </div>
                                    <div class="col-md-10">
                                      <h6 class="card-subtitle text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, vitae?</h6>
                                    </div>
                                </div>                            
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-outline-warning me-5 rounded-circle" data-bs-toggle="modal" data-bs-target="#exampleModal3"><i class="bi bi-pencil"></i></button>
                    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel3">Agregar Educacion</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <label for="message-text" class="col-form-label">Agregar descripcion</label>
                                <textarea class="form-control" id="message-text"></textarea>
                                <input class="form-control " type="file" id="formFile" data-bs-dismiss="modal">
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary">Guardar</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
<!--</div>-->
