<!--<div class="col-sm p-3 min-vh-100">-->
    <div class="container-fluid">
        <div class="row">
            <div class="col text-align-center" style="background-color:#faf8bf;">
                <img src="descarga.jfif" class="img-fluid rounded-circle" alt="...">
            </div>
            <div class="col" style="background-color:#234e70;">
                <h1 class="display-1 fs-bold lh-lg text-light">Educacion y cursos</h1>
                <div class="card" style="background-color: #B3A389;">
                    <div class="card-body text-light">
                      <h6 class="card-subtitle mb-2 text-light">Card subtitle</h6>
                      <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis, tempore! In saepe aliquid repellendus, ullam sunt possimus quia voluptatum similique libero iste, perspiciatis recusandae est modi ex. Quaerat cupiditate aliquam maiores ex minus nihil, ad aperiam doloribus fuga voluptates quam totam corrupti nesciunt dolorem voluptas accusantium voluptatibus iusto vero maxime.</p>
                    </div>
                </div>
                <div class="col mt-3">
                    <button type="button" class="btn btn-success btn-sm me-5" style="width: 10rem;">Large button</button>
                    <button type="button" class="btn btn-danger btn-sm ms-5" style="width: 10rem;">Large button</button>
                </div>
            </div>
        </div>
    </div>
<!--</div>-->
