<!--<div class="col-sm p-3 min-vh-100">-->
    <div class="container-fluid">
        <div class="row">
            <div class="col text-align-center" style="background-image: url(/assets/img/img2.png)">
                <!-- <img src="/assets/img/img2.png" class="img-fluid vh-100" alt="..."> -->
                <button type="button" class="btn btn-dark ms-2 position-absolute top-50 start-50 rounded-circle"><i class="bi bi-pencil-fill"></i></button>
            </div>
            <div class="col" style="background-color:#234e70;">
                <h1 class="display-1 fs-bold lh-lg text-light">Educacion y cursos</h1>
                <div class="card" style="background-color: #B3A389;">
                    <div class="card-body text-light">
                      <h6 class="card-subtitle mb-2 text-light">Card subtitle</h6>
                      <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque vel dolorum sequi perspiciatis veniam assumenda exercitationem deserunt explicabo, dolorem voluptatibus sit corporis laborum, asperiores doloribus dignissimos officiis eos libero eveniet fuga repellendus. Magnam sit quaerat consequatur mollitia perspiciatis, ad nulla modi pariatur aspernatur voluptatum? Alias eum ex impedit saepe dolorum incidunt doloribus tempora ipsa ea neque! Mollitia qui, soluta ex similique explicabo eveniet facere voluptatibus rem, sapiente non deleniti! Voluptas debitis accusamus reprehenderit nobis ad corrupti consectetur ducimus, error eveniet recusandae vel quaerat accusantium eius illum sit excepturi libero ipsa nihil quae eaque porro aspernatur sequi ullam dolorum. Esse, itaque.</p>
                    </div>
                </div>
                <div class="col mt-3">
                    <button type="button" class="btn btn-outline-warning me-5" ><i class="bi bi-pencil"></i></button>
                    <button type="button" class="btn btn-success" style="width: 10rem;">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
<!--</div>-->
