<div class="container-fluid py-3" style="background-color: black;">
    <div class="row">
        <div class="col-6 text-light">
            <p>Lorem ipsum dolor sit.</p>
        </div>
        <div class="col-6 ">
            <a class="btn btn-primary rounded-circle" style="background-color: #3b5998;" href="#!" role="button">
                <i class="bi bi-github"></i>
            </a>
            
            <a class="btn btn-primary rounded-circle" style="background-color: #55acee;" href="#!" role="button">
                <i class="bi bi-linkedin"></i>
            </a>
            
            <a class="btn btn-primary rounded-circle" style="background-color: #f059f0;" href="#!" role="button">
                <i class="bi bi-instagram"></i>
            </a>     
        </div>
    </div>
</div>
