
<!--<div class="col-sm p-3 min-vh-100">-->
    <div class="container-fluid">
                <div class="row">
                    <div class="col" style="background-color:#234e70;">
                        <h1 class="display-1 fs-bold lh-lg text-light">Experiencia laboral</h1>
                        <div class="card" style="background-color: #B3A389;">
                            <div class="card-body text-light">
                                <h6 class="card-subtitle mb-2 text-light">Card subtitle</h6>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur exercitationem sit assumenda quia asperiores ut quis! Temporibus explicabo praesentium in culpa sapiente inventore dicta amet quidem qui eos quasi aperiam recusandae esse aspernatur, corrupti unde aliquid aut eum, nam ipsum dignissimos. Necessitatibus corporis animi minima fuga officiis veritatis, sint vitae totam eveniet ullam aliquam, est, quisquam autem aperiam. Iusto voluptatem nulla optio placeat exercitationem iure obcaecati eos molestias explicabo impedit doloremque aut aliquam doloribus sed voluptatum quos sapiente, aliquid amet cum cumque vitae ullam blanditiis aspernatur provident! Dignissimos mollitia veniam, eos repudiandae, repellendus officia, accusamus a perspiciatis laudantium voluptate maxime?</p>
                            </div>
                        </div>
                        <div class="col mt-3">
                            <button type="button" class="btn btn-outline-warning me-5" ><i class="bi bi-pencil"></i></button>
                            <button type="button" class="btn btn-success" style="width: 10rem;">Confirmar</button>
                        </div>
                    </div>
                    <div class="col text-align-center" style="background-color:#faf8bf;">
                        <img src="/assets/img/img3.png" class="img-fluid vh-100" alt="...">
                    </div>
                </div>
        </div>
<!--</div>-->