<div class="container-fluid py-4" style="background-color: #faf8bf;" id="contacto">
    <div class="row justify-content-center text-light">
        <div class="col-md-6">

            <div class="card" style="background-color: #234e70;">
                <div class="card-header">
                    <p class="fs-3 text">
                        Contactame!
                    </p>
                </div>
                <form (ngSubmit)="onSubmit()" [formGroup]="contactoForm" id="contactForm">
                    <div class="row justify-content-center mb-3">
                        <div class="col-md-8">
                            <label class="form-label" for="name">Nombre</label>
                            <input class="form-control {{error_nombre}}" type="text" placeholder="Nombre" id="nombre" formControlName="nombre"/>
                            <div class="invalid-feedback">Campo requerido</div>
                        </div>
                    </div>

                    <div class="row justify-content-center mb-3">
                        <div class="col-md-8">
                            <label class="form-label" for="emailAddress">Email</label>
                            <input class="form-control {{error_email}}" type="email" placeholder="Email" id="email" formControlName="email"/>
                            <div class="invalid-feedback">Campo requerido y con formato mail. ej. algo@algo.com</div>
                        </div>
                    </div>

                    <div class="row justify-content-center mb-3">
                        <div class="col-md-8">
                            <label class="form-label" for="message">Mensaje</label>
                            <textarea class="form-control {{error_mensaje}}" type="text" placeholder="Mensaje" style="height: 10rem;" id="mensaje" formControlName="mensaje"></textarea>
                            <div class="invalid-feedback">Campo requerido</div>
                        </div>
                    </div>

                    <div class="{{mensaje_exito}}" id="submitSuccessMessage">
                        <div class="text-center mb-3">El mensaje fue enviado correctamente!</div>
                    </div>
        
                    <div class="{{mensaje_error}}" id="submitErrorMessage">
                        <div class="text-center text-danger mb-3">Ocurrió un problema al enviar el mensaje, reintente nuevamente mas tarde!</div>
                    </div> 

                    <div class="row justify-content-center mb-3 py-2 px-4">
                        <div class="col-md-2">
                            <button class="btn btn-success" id="submitButton" type="submit">Submit</button>
                        </div>
                        <div class="navbar-nav">
                            <a class="btn btn-primary" style="background-color:#234e70;" href="https://github.com/Aunius" role="button">
                                <i class="bi bi-github"></i>
                            </a>
                            
                           <!-- <a class="btn btn-primary rounded-circle" style="background-color: #234e70;" href="#!" role="button">
                                <i class="bi bi-linkedin"></i>
                            </a> -->
                            
                            <a class="btn btn-primary" style="background-color: #234e70;" href="https://www.instagram.com/nahucoronell/" role="button">
                                <i class="bi bi-instagram"></i>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
