<div class="navbar sticky-top navbar-light" style="background-color:#234e70;">
    <a class="navbar-brand" href="#">
      <img src="arg-programa.png" class="ms-3 navbar-brand" alt=""> <span class="text-light ms-2">#YoProgramo</span>
    </a>
    
    <button class="btn btn-outline-warning me-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Menu</button>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Menu</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" style="background-color:#234e70;">
    <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto">
        <li class="nav-item">
            <a href="#" class="nav-link py-3 px-2 link-light" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home"> 
                <i class="bi bi-house"><span class="fs-4"> Inicio</span></i>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link py-3 px-2 link-light" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                <i class="bi bi-info-circle"><span class="fs-4"> Sobre Mi</span> </i>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link py-3 px-2 link-light" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
                <i class="bi bi-mortarboard"><span class="fs-4"> Educacion </span></i>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link py-3 px-2 link-light" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
                <i class="bi bi-folder"><span class="fs-4"> Experiencia Laboral </span></i>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link py-3 px-2 link-light" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                <i class="bi bi-code-square"><span class="fs-4"> Habilidades </span></i>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link py-3 px-2 link-light" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                <i class="bi bi-briefcase"><span class="fs-4"> Proyectos </span></i>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link py-3 px-2 link-light" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                <i class="bi bi-chat-square-dots"><span class="fs-4"> Contacto </span></i>
            </a>
        </li>
    </ul>
    <div class="dropdown text-end">
        <a href="#" class="position-absolute bottom-50 start-0 link-light text-decoration-none dropdown-toggle " id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-file-person-fill"><span class="fs-4"> Iniciar de Sesiôn </span></i>
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
            <li><a class="dropdown-item" href="#">Loggin</a></li>
            <li><a class="dropdown-item" href="#">Loggout</a></li>
        </ul>
    </div>
  </div>
</div>
</div>

            