<!--<div class="col-sm p-3 min-vh-100">-->
    <div class="container-fluid" style="background-color:#234e70;">
        <div class="row pt-5">
            <div class="col">
                <h1 class="display-1 fs-bold lh-lg text-light">Sobre mi</h1>
                <div class="card" style="background-color: #B3A389;">
                    <div class="card-body text-light">
                        <h6 class="card-subtitle mb-2 text-light">Card subtitle</h6>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet accusantium doloremque soluta tempora sunt vitae distinctio accusamus esse rerum est id dolorem aut corrupti nemo fuga aliquid ratione molestias consequuntur, nobis maxime sint debitis! Molestias adipisci voluptates assumenda eos totam eaque velit tempore, omnis debitis, corporis distinctio autem ipsum quae vel? Nihil ipsam illum, fugiat doloribus accusantium non deserunt amet eius voluptate sapiente dolor rem provident a alias ducimus totam! Mollitia possimus veritatis dicta nam eius tempora praesentium aspernatur fugiat laborum esse quidem quisquam corrupti, voluptates eos quas voluptatum necessitatibus labore facilis autem perspiciatis vel odio perferendis quam placeat. Magnam!</p>
                    </div>
                </div>
                <div class="col mt-3">
                    <button type="button" class="btn btn-outline-warning me-5 rounded-circle" data-bs-toggle="modal" data-bs-target="#exampleModal2" data-bs-whatever="@mdo"><i class="bi bi-pencil"></i></button>
                    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel2">Editar</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Sobre Mi:</label>
                                <textarea class="form-control" id="message-text"></textarea>
                            </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary">Confirmar</button>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col text-align-center" style="background-image: url(/assets/img/img1.png)">
            </div>
        </div>
    </div>
