<div class="container-fluid">
    <div class="row">
        <div class="col text-align-center" style="background-color:#faf8bf;">
        <div class="text-center">
            <img src="{{cabecera.url_persona}}" class="rounded-circle mt-5 mb-3" alt="..." style="width: 15rem; height: 15rem;">
            </div>
        <div class="text-center">
            <div class="text-light">
                <h3 class="mb-2 text-dark" id="nombre">{{cabecera.persona}}</h3>
            </div>
        </div>

        <div *ngIf="IsLogged" class="d-flex justify-content-center col mt-3">
            <button type="button" (click)="abrirModal_exampleModal5()" class="btn btn-dark me-2 rounded-circle" data-bs-toggle="modal" data-bs-target="#exampleModal5"><i class="bi bi-pencil"></i></button>
            <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel5">Cambiar nombre y foto de perfil</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form (ngSubmit)="cambiarNombreFotoPerfil()" novalidate>
                        <div class="modal-body">
                            <label class="form-label" for="nombre">Nombre</label>
                            <input type="text" class="form-control" [(ngModel)]="nombre" id="nombre" name="nombre" placeholder="Nombre...">
                            <label class="form-label" for="url_persona">URL Imagen</label>
                            <input type="text" class="form-control" [(ngModel)]="url_persona" id="url_imagen" name="url_persona" placeholder="URL Imagen...">
                            <div *ngIf="errorMensaje">
                                <div class="text-center text-danger mb-3">{{errorMensaje}}</div>
                            </div>
                        </div>
                        <div class="modal-footer">
                        <button type="button" id="Modal_exampleModal5_cerrar" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col" style="background-color:#234e70;">
        <h1 class="display-1 fs-bold lh-lg text-light mb-2">{{cabecera.saludo}}</h1>
        <div *ngIf="IsLogged" class="col mt-3 mb-2">
            <button type="button" (click)="abrirModal_exampleModal()" class="btn btn-outline-warning me-5 rounded-circle" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever=""><i class="bi bi-pencil"></i></button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modificar saludo</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form (ngSubmit)="cambiarSaludo()">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="message-text" class="col-form-label">Saludo</label>
                                    <textarea class="form-control" [(ngModel)]="saludo" id="saludo" name="saludo"></textarea>
                                    <div *ngIf="errorMensaje">
                                        <div class="text-center text-danger mb-3">{{errorMensaje}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="Modal_exampleModal_cerrar" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Confirmar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>