
      <!--<div class="col-sm p-3 min-vh-100">-->
          <div class="container-fluid">
              <div class="row">
                  <div class="col text-align-center" style="background-color:#faf8bf;">
                    <div class="text-center">
                        <img src="/assets/img/img1.png" class="rounded-circle mt-5 mb-3" alt="..." style="width: 15rem; height: 15rem;">
                      </div>
                    <div class="text-center">
                        <div class="text-light">
                          <h3 class="mb-2 text-dark">Nahuel Vanin Coronel</h3>
                      </div>
                    </div>
                    <div class="d-flex justify-content-center col mt-3">
                        <button type="button" class="btn btn-dark me-2 rounded-circle" ><i class="bi bi-pencil"></i></button>
                        <button type="button" class="btn btn-success" style="width: 10rem;">Confirmar</button>
                    </div>
                </div>
                  <div class="col" style="background-color:#234e70;">
                      <h1 class="display-1 fs-bold lh-lg text-light mb-2">Lorem dfdf<br> ipsum fdfs<br> dolor sit.</h1>
                      <div class="col mt-3 mb-2">
                          <button type="button" class="btn btn-outline-warning me-5 rounded-circle" ><i class="bi bi-pencil"></i></button>
                          <button type="button" class="btn btn-success" style="width: 10rem;">Confirmar</button>
                      </div>
                  </div>
              </div>
          </div>
      <!--</div>-->